:root {
    --primary-color: #0A1128;
    --gap: 3rem;
    --light-gray-color:#EEEEE;
    --secondary-color:crimson;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth; /*faz a página rolar para o link seguinte */
}

body {
    font-family: 'Open Sans', sans-serif;  
    font-size: 2rem;  
    color: var(--primary-color);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 3rem;
    transform: uppercase;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 2.2rem;    
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
}

p{
    margin-bottom: 2rem;
}

.main-bg {
    background-image: url("/assets/img/main-bg.svg");        
    background-size: cover;
    background-position: center center;
    color:aliceblue
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10 rem var(--gap);
    /*padding-top: 0;
    padding-bottom: 0;*/
    padding: 0 var(--gap);
    /*align-items: center;*/
    
}

.section {
    min-height: 100vh;
}

.menu {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.5rem solid var(--light-gray-color);
    z-index: 1;
}

.menu h1 {
    font-size: 3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;        
}

.menu-content {
    display: flex;
    justify-content: space-between; /*Alinha a esquerda o contúdo*/
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content: '';        /*ulizei esses comandos para criar um sublinhado em cada link do menu quando passa o mouse em cima */
    position: absolute;
    bottom: 1rem;    
    left: 50%;
    width: 0;
    height: 0.5rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {  /*Faz aparecer o sublinhado quando o mouse passa no link */
    width: 50%;
    left: 25%; 
}

.menu-spacing {
    height: 7rem;
}

.section-projeto {
    background: white;
    min-height: 100vh;
    color: var(--primary-color);    
    font-family: 'Montserrat';   
    
} 

.projetos-ti {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    height: 100vh;
    max-width: 80rem;
    text-align: center;
}

.section-projeto p {
    font-family: sans-serif;
    font-size: 2rem;
}

.section-projeto h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.intro-content {
    
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;    
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    /*margin-left: 0.5rem;*/
}

.intro-text-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-width: 100vh;
}

.intro-text-content h2 {
    
    font-size: 2.6rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    line-height: 1.2; /*espaço entre as letras */
    /*justify-content: center;*/
}


.intro-img img {    
    max-width: 100%;
    height: auto;
}

.grid-tres-content {  
    max-width: 64rem;
    display: flex;  
    min-height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}

.grid-main-head{
    margin-bottom: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter; /*serve para criar um contador */
}

.grid h3 {
    font-size: 2rem;
    position: relative;
    padding-left: 5rem;
}

.grid h3::before {
    font-size: 8rem; /*para mudar a fonte do número com um pseudo elemento */
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position:absolute;
    font-style: italic;
    top: -6rem;
    left: -1rem;
    transform: rotate(5deg);
}

.grid-description {
    padding-bottom: 3rem;
}

.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
    display: block;
}

.section-tres {
    background: white;
    color: black;
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(3%, 3%) scale(1.2) rotate(5deg);
}

.responsive-table {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
}

table {
    min-width: 36rem;
    width: 100%;  
    border-collapse: collapse;  
}

table td, table th {
    white-space: nowrap;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid black;
}

tfoot td, table th {
    background: gray;
}

table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

.contact-form {
    grid-column: span 2;
           
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.form-group {
    flex: 1 1 320px;    
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
    border: none;
    background: white;
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 3rem;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}

.form-group button {
    border: 0.5rem solid white;
    background: none;
    color: white;
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    border: 0.5rem solid var(--primary-color);  /*hover serve para informar os parametros da transição informada acima */
    background: white;
    color: var(--primary-color);
}

.form-group ::placeholder {
    color: var(--light-gray-color); /*informação dentro do label, indicando o que deve ser inforado no campo*/
}

.meu-nome {
    width: 100vh;
    font: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.meu-nome a {
    color: inherit;
}

.close-menu {
   display: none;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: white;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
}

@media (max-width: 800px) {
    .intro-content, .grid, .contato {
        grid-template-columns: 1fr;
    
}

.gallery-img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.gallery-img img {
    width: 100%;
}

.grid-one-content {
    display: block;
}

.menu {
    position: fixed;
    bottom: 0;
}

.menu-content, .menu-content ul {
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.menu-content {
    height: 100vh;
}

.menu {
    display: none;
}



.close-menu-label::after {
    content: '≡';
    position: fixed;
    z-index: 2;
    top: 1rem;
    right: 1rem;
    background: var(--primary-color);
    color: white;
    font-size: 3rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
}

.close-menu:checked~.menu {
    display: block;
}

.close-menu:checked~.close-menu-label::after {
    display: block;
    content: 'x';
}

.menu-spacing {
    display: none;
}

}